.my-text {
  margin: 0;
  color: var(--my-text-color-regular);
  font-size: var(--my-font-size-base);
  line-height: 1.6;
}

.my-text--small {
  font-size: var(--my-font-size-small);
}

.my-text--large {
  font-size: var(--my-font-size-large);
}

.my-text--primary {
  color: var(--my-color-primary-active);
}

.my-text--success {
  color: var(--my-color-success);
}

.my-text--warning {
  color: var(--my-color-warning);
}

.my-text--danger {
  color: var(--my-color-danger);
}

.my-text--info {
  color: var(--my-color-info);
}

.my-text.is-truncated {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.my-text.is-mark {
  padding: 0 4px;
  background: var(--my-color-accent);
  color: var(--my-text-color-primary);
  border-radius: var(--my-radius-small);
}
